#Import Linraries

In [2]:
import pandas as pd
import numpy as np

#Read and split Data

In [6]:
dataset = pd.read_csv('market_data.csv')
dataset

     youtube  facebook  newspaper  sales
0      84.72     19.20      48.96  12.60
1     351.48     33.96      51.84  25.68
2     135.48     20.88      46.32  14.28
3     116.64      1.80      36.00  11.52
4     318.72     24.00       0.36  20.88
..       ...       ...        ...    ...
166    45.84      4.44      16.56   9.12
167   113.04      5.88       9.72  11.64
168   212.40     11.16       7.68  15.36
169   340.32     50.40      79.44  30.60
170   278.52     10.32      10.44  16.08

[171 rows x 4 columns]

In [7]:
after_drop = dataset.drop('sales', axis =1 )
y = dataset['sales']

dataset.shape

(171, 4)

In [8]:
np_array = after_drop.to_numpy()

In [9]:
x1 = dataset['youtube']
x2 = dataset['facebook']
x3 = dataset['newspaper']
#y =  dataset['sales']

#Apply Norm Equation

In [16]:
n= len(x1)      
x_bais= np.ones((n,1)) # to add a column as a bias

x_new = np.append(x_bais ,np_array, axis = 1)   # X


x_new_transpose = np.transpose(x_new)  #X.T

x_new_transpose_dot_x_new = x_new_transpose.dot(x_new)   # (X.T X)

temp_1 = np.linalg.inv(x_new_transpose_dot_x_new) #(X X.T) inverse

temp_2 = x_new_transpose.dot(y)   # X.T * y

theta = temp_1.dot(temp_2)  #(X X.T) inverse * X.T * y

In [17]:
theta_0 = theta[0]
theta_1 = theta[1]
theta_2 = theta[2]
theta_3 = theta[3]
print(theta_0)
print(theta_1)
print(theta_2)
print(theta_3)

3.505870994464999
0.04523544441261529
0.1883978254115084
0.004279491858703244

#predicte sales by using Norm Equation

In [12]:
def pred_values(theta_0,theta_1,theta_2,theta_3,youtube,facebook,newspaper):
    predicted_value = youtube * theta_1 + facebook * theta_2 + newspaper * theta_3 + theta_0   
    return predicted_value

In [13]:
youtube = 84.72
facebook = 19.20
newspaper = 48.96
print(pred_values(theta_0,theta_1,theta_2,theta_3,youtube,facebook,newspaper))

11.164980014404838

In [14]:
youtube =351.48
facebook = 33.96
newspaper = 51.84
print(pred_values(theta_0,theta_1,theta_2,theta_3,youtube,facebook,newspaper))

26.025064005541022

In [15]:
youtube = 29
facebook = 93
newspaper = 96
print(pred_values(theta_0,theta_1,theta_2,theta_3,youtube,facebook,newspaper))

22.749527864136635